*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
}
#icon{
    width: 30px;
    cursor: pointer;
}

body{
    background-color: var(--primary-color);
}