 canvas {
      border: 1px solid #ccc;
      margin-top: 20px;
    }
    button {
      margin: 5px;
      padding: 10px;
    }
    img{
        display: none;
        
    }
    .image-manipu{
        margin-left: 30px;
    }